// Type
//------------------------------------------------------------------------------

$base-font-size: 16px; // Used to set intial rem scale in utilities/units
$main-header-height: 122px; // Used for header container and center 'container'
$main-header-height-mob: 60px;
$mobile-menu-width: 300px;
$main-color: #47ADBC;
$color-accent: #575656; // Used as the color accent.