.page-footer{
	background: $color-accent;
	overflow: visible;
	padding: rem(55px) rem(0px) rem(0px) rem(0px);
	position: relative;
	margin-top:rem(100px);
	
	& a {
		color: white;
	}
	
	.widget{
		list-style-type: none;
		color: white;
		
		& .textwidget p {
			margin-bottom: rem(15px);
			font-weight: 800;
			
			& span{
				font-weight: 400;
			}
		}
	}
	& .bottom-bar{
		margin-top:rem(55px);
		background: darken($color-accent, 10%);
	
		& .footer--copy{
			margin-bottom: 0;
			padding: rem(10px) 0;
			color: white;
			font-size: rem(14px);
		}
	}
}