.page-footer{
	background: $color-accent;
	overflow: visible;
	padding: rem(55px) rem(0px) rem(0px) rem(0px);
	position: relative;
	margin-top:rem(100px);
	text-align: left;
	
	& a {
		color: white;
	}
	
	.widget{
		list-style-type: none;
		color: white;
		
		& .icon--ui__logo_footer{
			width:  300px!important;
		}
		
		& .textwidget p {
			margin-bottom: rem(15px);
			font-weight: 400;
			color: #afafaf;
			
			& a{
				color: #afafaf
			}
			
			& span{
				font-weight: 800;
			}
		}
	}
	& .bottom-bar{
		background: darken($color-accent, 10%);
	
		& .footer--copy{
			margin-bottom: 0;
			padding: rem(10px) 0;
			color: white;
			font-size: rem(14px);
			
			@media only screen and (max-width: 1100px) {
				padding: rem(10px) rem(10px);	
			}
		}
	}
	
	& .review-bar{
		margin-top:rem(40px);
		padding: rem(50px) 0px;
		color: #afafaf;
		background: lighten($color-accent, 5%);
		text-align: center;
		text-align: center;
		
		& .row{
			display: block;
			
			@media only screen and (min-width: 1100px) {
				display: flex;
				align-items:flex-end;
			}
			
			& .columns{
				text-align: left;
				margin-bottom: 2rem;
			}
		}
	}
	
	& .footer-btn{
		@include animateIt(200ms);
		background: #868383;
		display: inline-block;
		padding: 0.5rem 1rem;
		font-weight: bold;
		
		&:hover{
			background: lighten(#868383, 5%);
		}
	}
	
	& .review-total{
		font-size: rem(100px);
		line-height: rem(90px);
		
		& span{
			font-size: rem(35px);
		}
	}
	
	& .review-stars{
		margin-top: rem(-20px);
	}
}