.main-header{
	background:white;
	z-index: 1;
	position: relative;
	
	@media only screen and (max-width: 1100px) {
		margin-top:rem(-$main-header-height-mob);
		width: 100%;
	}
	
	& .header-text{
		color: $main-color;
		font-size: rem(22px);
		line-height: 5;
		display: inline-block;
		text-align: right;
		@media only screen and (max-width: 1100px) {
			font-size: rem(12px);
			text-align: center;
			display: block;
			margin-top: 1rem;
			line-height: 1;
		}
		
		& p{
			margin-bottom: 0rem;
		}
	}
	
	& .header-middle{
		margin-top: 1rem;
		
		@media only screen and (max-width: 1100px) {
			background: white;
			margin-top: 0px;
			padding: 0rem 1rem 1rem 1rem
		}
	}
	
	& .header-topbar{
		background: #F5F3F4;
		color:$color-accent;
		
		& a{
			color:inherit; 	
		}
		
		& .fa{
			color: $main-color;
			margin-left: 0.2rem;
		}
		
		& p{
			margin: 0.5rem 0rem;
			font-size: rem(14px);
			text-align: right;
			@media only screen and (max-width: 1100px) {
				text-align: center;
			}
		}
	}
	
	& .container{
		position: relative;
		height: rem($main-header-height);
	}
}

.header-logo{
	display: inline-block;
	@media only screen and (max-width: 1100px) {
		text-align: center;
		display: block;
	}
}