.page-header{
	height: rem(140px);
	background: #f2f3f3;
	display: flex;
	align-items: center;
	
	.page-id-224 &{
		border-bottom: 0px;
	}
	
	&__image{
		@extend .page-header;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	
	&--title{
		background:hexToRGBA($main-color, 0.65);
		display: inline-block;
		padding: rem(10px) rem(20px) rem(10px) rem(20px);
		color: white;
		font-size: 2rem;
		margin-left: rem(100px);
		font-weight: 400;
		/* mix-blend-mode: darken; /* test for better background */
		box-shadow: 0 15px 35px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .07);
		@media only screen and (max-width: 1100px) {margin:rem(60px) rem(20px) rem(40px) rem(20px);}
	}
		
	& .container{
		@media only screen and (min-width: 1100px) {padding-left:rem(250px);}
		@media only screen and (max-width: 1100px) {text-align: center;}
		flex-basis: auto;
		flex-grow: 1;
	}
}