.vastgoed--featured-image{
	min-height: rem(450px);
	margin-bottom: rem(0px);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.vastgoed--subinfo{
	background: #F5F3F3;
	display: block;
	padding: rem(10px) rem(10px);
	text-align: center;
	color: #575756;
	* {color: #575756;}
}

.vastgoed--hover{
	@include animateIt(200ms);
	position: absolute;
	width: calc(100% - 0.8rem);
	height: calc(100% - 0.9375rem);
	background: $main-color;
	color: white;
	z-index: 1000000;
	display: flex;
	align-items: center;
	align-content: center;
	text-align: center;
	opacity: 0;
	display: block;
	
	.vastgoed--home:last-child &{
		width: calc(100% - 0.3rem);
	}
	
	& > p{
		top: 50%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		
		& i.fa{
			font-size: 4rem;
			margin-bottom: 1rem
		}
	}
}

.vastgoed--home{
	padding-bottom: rem(15px);
	padding-right: 0.5rem;
	position: relative;
	
	&:hover .vastgoed--hover{
		display: block;
		opacity: 1;
	}
	
	& > a{
		display: block;
	}
	
	&:last-child{
		padding-right: 0rem;
	}
	
	& .vastgoed--featured-image{
		min-height: rem(250px);
		margin-bottom: rem(0px);
		position: relative;
		
		&__overlay{
			@include animateIt(200ms);
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0);
			display: block;
			position: absolute;
		}
	}
	
	&__information{
		font-weight: 100;
		font-style: italic;
		margin-bottom: 0px;
	}
	
	&__title{
		margin-bottom: rem(5px);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1rem;
		
		& a{
			color: #575756;
		}
		
		& .m-icon{
			margin-bottom: rem(-3px)!important;
			margin-right: rem(5px);
		}
	}
	
	& .vastgoed--bar{
		border: 0px;
		height: rem(3px);
		background: $main-color;
	}
}

.vastgoed--description__item{
	color: $main-color; 
	font-weight:600;
	min-width: rem(130px);
	display: inline-block;
}