	.icon--ui__arrow {
		@include rem((width: 20px));

		&:before {
			padding-top: calc((20% / 20%) * 100%);
		}
	}
	.icon--ui__fc-logo-dark {
		@include rem((width: 200px));

		&:before {
			padding-top: calc((60% / 200%) * 100%);
		}
	}
	.icon--ui__feedback_company_logo {
		@include rem((width: 200px));

		&:before {
			padding-top: calc((60% / 200%) * 100%);
		}
	}
	.icon--ui__klanten_vertellen_logo {
		@include rem((width: 199.8px));

		&:before {
			padding-top: calc((98.6% / 199.8%) * 100%);
		}
	}
	.icon--ui__klanten_vertellen_logo_light {
		@include rem((width: 199.8px));

		&:before {
			padding-top: calc((98.6% / 199.8%) * 100%);
		}
	}
	.icon--ui__logo_big {
		@include rem((width: 364.21px));

		&:before {
			padding-top: calc((79.17% / 364.21%) * 100%);
		}
	}
	.icon--ui__logo_footer {
		@include rem((width: 364.9px));

		&:before {
			padding-top: calc((72.2% / 364.9%) * 100%);
		}
	}
