	.icon--ui__arrow {
		@include rem((width: 20px));

		&:before {
			padding-top: calc((20% / 20%) * 100%);
		}
	}
	.icon--ui__fc-logo-dark {
		@include rem((width: 200px));

		&:before {
			padding-top: calc((60% / 200%) * 100%);
		}
	}
	.icon--ui__feedback_company_logo {
		@include rem((width: 200px));

		&:before {
			padding-top: calc((60% / 200%) * 100%);
		}
	}
	.icon--ui__logo_big {
		@include rem((width: 366px));

		&:before {
			padding-top: calc((100% / 366%) * 100%);
		}
	}
	.icon--ui__logo_footer {
		@include rem((width: 365px));

		&:before {
			padding-top: calc((80% / 365%) * 100%);
		}
	}
