	.icon--ui__arrow {
		@include rem((width: 20px));

		&:before {
			padding-top: calc((20% / 20%) * 100%);
		}
	}
	.icon--ui__logo_big {
		@include rem((width: 404px));

		&:before {
			padding-top: calc((122% / 404%) * 100%);
		}
	}
	.icon--ui__logo_footer {
		@include rem((width: 404px));

		&:before {
			padding-top: calc((122% / 404%) * 100%);
		}
	}
