.iphorm-elements .iphorm-element-wrap-text input,
.iphorm-elements .iphorm-element-wrap-textarea textarea, {
	border: none!important;
	background: white!important;
	padding: 0.5rem!important;
	color: black!important;
	min-width: 100%!important;
}

.iphorm-elements .iphorm-submit-wrap .iphorm-submit-element{
	background: $main-color!important;
	border: 0px solid!important;
	
	& span{
		background: $main-color!important;
	}
	
	& em{
		background: $main-color!important;
		color: white;
	}
}

.iphorm-element-wrap-text.iphorm-labels-inside > .iphorm-element-spacer > label, .iphorm-element-wrap-textarea.iphorm-labels-inside > .iphorm-element-spacer > label, .iphorm-element-wrap-password.iphorm-labels-inside > .iphorm-element-spacer > label, .iphorm-element-wrap-captcha.iphorm-labels-inside > .iphorm-element-spacer > label{
	margin-left: 15px!important;
	margin-top: 8px!important;
}

.iphorm-submit-input-wrap {
    float: right!important;
    margin-right: 50px!important;
}