.big_button a{
		width: 100%!important;
		height: 150px;
		display: flex!important;
		justify-content: center;
		align-items: center;
		font-size: rem(20px)!important;
}

.vc_btn3.vc_btn3-color-danger, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat {
	background-color: $color-accent!important;
	
	&:hover{
		opacity: 0.8;
	}
}

.wpb_gmaps_widget .wpb_wrapper{
	padding: 0px!important;
	border: none!important;
}

.wpb_content_element *{
	white-space: wrap!important;
}

.btn-big-text button{
	font-weight: bold;
	font-size: 1.2rem!important;
	border: 1px solid!important;
}